
:root {
    --darkPurple: #412050;
    --lightPurple: #9574A9;
    --gray: #1E1E1E;
    --white: #ffff;
    --lightGray: #F8F8F8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    background-color: var(--lightGray);
}

html {
    scroll-behavior: smooth;
}

@keyframes fadetobottom {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.headerContainer{
    padding-top: 30px;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: var(--darkPurple);
    justify-content: space-evenly;
    align-items: center;
    border-bottom: #9574a97f solid 1px;
    padding-bottom: 20px;
}

.headerContainer img {
    height: auto;
    width: auto;
}

.headerButtons a {
    text-decoration: none;
}

.headerButtons {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.headerButtons p:hover {
    transition: all 0.5s;
    background-color: #1d0727;
    border-radius: 10px;
}

.headerButtons p {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--white);
    margin: 40px;
}

.buttonDownload {
    text-decoration: none;
}

.buttonDownload p{
    text-decoration: none;
    padding: 10px;
    background-color: var(--lightPurple);
}

.bannerContainer {
    background-color: var(--darkPurple);
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-right: 5%;
    align-items: center;
}

.textBanner {
    animation: 1.5s ease-in 0s 1 fadeIn;
}

.textBanner h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--white);
    font-size: 50px;
}

.textBanner p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--white);
}

.imgBanner img {
    pointer-events: none;
    animation: 2s ease-in 0s 1 fadeIn;
    margin-bottom: -20%;
    width: 602px;
    height: 621px;
}

.buttomDownload {
    background-color: var(--lightPurple);
    margin-top: 20px;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    border: none;
    color: var(--white);
    transition: all 0.3s;
}

 .buttomDownload a {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--lightGray);
    text-decoration: none;   
}

.buttomDownload:hover {
    background-color: #1d0727;
    text-decoration: none;   
}

.buttomlermais {
    transition: all 0.3s;
    background-color: var(--lightGray);
    margin-top: 20px;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    border: none;
}

.buttomlermais a {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: var(--lightPurple);
}

.buttomlermais:hover {
    background-color: #1d0727;
}

.buttomlermais:hover a {
    color: var(--lightGray);
 }

.containerSobreNos {
    animation: fadetobottom 1.5s cubic-bezier(0.11, 0, 0.5, 0) 0s 1 normal none;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobreNos h1 {
    margin-top: 20px;
    color: var(--gray);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
}

.sobreNos p {
    font-family: 'Montserrat', sans-serif;
    color: var(--gray);
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.sobreNos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobreNos img {
    pointer-events: none;
    padding: 20px 0;
    width: 50px;
    max-width: 90%;
}

.containerMobileApp {
    border-radius: 28px;
    background: #F8F8F8;
    box-shadow:  5px 5px 28px #d3d3d3,
                -5px -5px 28px #ffffff;
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.containerMobileApp img {
    pointer-events: none;
    height: 550px;
    padding-left: 40px;   
}

.textMobileApp h1 {
    color: var(--gray);
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.textMobileApp {
    flex-direction: column;
}

.textMobileApp p {
    margin-top: 20px;
    color: var(--gray);
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.containerButtons {
    margin-top: 20px;
    padding-left: 20px;
}

.buttomDownload_2 {
    transition: all 0.3s;
    cursor: pointer;
    background-color: var(--lightPurple);
    margin-top: 20px;
    width: 160px;
    height: 35px;
    border-radius: 10px;
    margin-right: 20px;
    color: var(--white);
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.buttomDownload_2 a {
    text-decoration: none;
    color: var(--lightGray);
}

.buttomDownload_2:hover {
    background-color: var(--white);
    color: var(--lightPurple);
    border: #9574A9 solid 1px;
}

.buttomDownload_2:hover a {
    color: var(--lightPurple);
}

.buttomlermais_2 {
    transition: all 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    cursor: pointer;
    background-color: var(--white);
    margin-top: 20px;
    width: 160px;
    height: 35px;
    border-radius: 10px;
    margin-right: 20px;
    color: var(--lightPurple);
    border: var(--lightPurple) solid 1px;
}

.buttomlermais_2:hover {
    background-color: var(--lightPurple);
    color: var(--white);
}

.buttomlermais_2:hover a {
    color: var(--lightGray);
}

.buttomlermais_2 a {
    text-decoration: none;
    color: var(--lightPurple);
}

.containerDicas {
    border-radius: 28px;
    background: #F8F8F8;
    box-shadow:  5px 5px 28px #d7d7d7,
                -5px -5px 28px #ffffff;
    background-color: var(--darkPurple);
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
}

.dica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.dica i {
    border-radius: 50%;
    background: #412050;
    box-shadow:  20px 20px 31px #2f173a,
             -20px -20px 31px #532966;  
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100%;
    color: var(--lightGray);
    font-size: 40px;
    margin-bottom: 15px;
}

.dica h3 {
    color: var(--lightGray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
}

.dica p {
    color: var(--lightGray);
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    display: flex;
    text-align: center;
}

.containerTitleRecursos {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recursosIncriveis{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recursosIncriveis h1 {
    margin-top: 20px;
    color: var(--gray);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
}

.recursosIncriveis img {
    pointer-events: none;
    padding: 20px 0;
    width: 50px;
    max-width: 90%;
}

.recursosIncriveis p {
    font-family: 'Montserrat', sans-serif;
    color: var(--gray);
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.containerRecursos {
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.containerRecursos img {
    pointer-events: none;
    height: 500px;
    padding-left: 40px;  
    padding-bottom: 40px; 
}

.containerColumn {
    flex-direction: column;
    display: flex;
}

.card {
    box-sizing: border-box;
    width: 530px;
    height: 134px;
    padding: 20px;
    background: rgba(217, 217, 217, 0.154);
    border: 1px solid var(--lightPurple);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.135);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.card i {
    color: var(--darkPurple);
    font-size: 25px;
}

.card h1 {
    color: var(--darkPurple);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.card p {
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.card:hover {
    border: 1px solid var(--darkPurple);
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}


.card1 {
    box-sizing: border-box;
    width: 530px;
    height: 134px;
    padding: 20px;
    background: rgba(217, 217, 217, 0.154);
    border: 1px solid var(--lightPurple);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.135);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: -100px;
}

.card1 i {
    color: var(--darkPurple);
    font-size: 25px;
}

.card1 h1 {
    color: var(--darkPurple);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.card1 p {
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.card1:hover {
    border: 1px solid var(--darkPurple);
    transform: scale(1.05);
}

.card1:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

  .containerDownload {
    height: 460px;
    border-radius: 28px;
    background: #F8F8F8;
    box-shadow:  5px 5px 15px #9f9f9f,
             -5px -5px 15px #ffffff;    
    background-color: rgba(var(--darkPurple), 0.5); /* Ajuste a opacidade conforme necessário */
    background-image: url('./src/files/banner_download.png');
    background-blend-mode: multiply;
    background-size: cover; 
    background-attachment: scroll; 
    /* background-attachment: fixed;  */
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
}

.recursosIncriveis{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleDowload {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titleDowload h1 {
    margin-top: 60px;
    color: var(--lightGray);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
}

.titleDowload img {
    pointer-events: none;
    padding: 20px 0;
    width: 50px;
    max-width: 90%;
}

.titleDowload p {
    font-family: 'Montserrat', sans-serif;
    color: var(--lightGray);
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}


.containerBotoes button{
    transition: all 0.3s;
    width: 170px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: transparent;
    border: var(--lightGray) solid 1px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.containerBotoes button:hover {
    background-color: var(--lightPurple);
}

.flexbotoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 8px;
}

.flexbotoes i {
    font-size: 30px;
    color: var(--lightGray);
}

.flexbotoes h4, h3 {
    color: var(--lightGray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-left: 10px;
}

.containerFooter {
    background-color: var(--darkPurple);
    width: 100%;
    
}

.titleContato {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titleContato h1 {
    margin-top: 60px;
    color: var(--lightGray);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
}

.titleContato img {
    pointer-events: none;
    padding: 20px 0;
    width: 50px;
    max-width: 90%;
}

.titleContato p {
    text-align: center;
    width: 440px;
    color: var(--lightGray);
    font-family: 'Montserrat', sans-serif;
}

.containerContato {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formsContato {
    border: var(--lightPurple) 1px solid;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    width: 400px;
    flex-direction: column;
}

.formsContato h2 {
    color: var(--lightGray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 30px;
}

.formsContato input {
    background-color: transparent;
    border: var(--lightGray) solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
    width: 300px;
    color: var(--lightGray);
}

.formsContato input::placeholder {
    color: var(--lightGray);
    height: 120px;
}

.inputbox {
  position: relative;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: var(--lightGray);
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: var(--lightGray);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
  color: var(--lightGray);
  transform: translateX(-10px) translateY(-34px);
  font-size: 0,75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--lightPurple);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
  height: 44px;
}

.buttomSendContato {
    margin-top: 20px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--lightPurple);
    margin-left: 15%;
    margin-right: 15%;
    height: 50px;
    border-radius: 10px;
}

.buttomSendContato:hover {
    background-color: #1d0727;
}

.buttomSendContato a {
    text-decoration: none;
    border-radius: 50%;
    background: #412050;
    box-shadow:  20px 20px 31px #2f173a,
             -20px -20px 31px #532966;  
}

.buttomSendContato button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--lightGray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.contatoLinks {
    border: var(--lightPurple) 1px solid;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.contatoLinks h2 {
    color: var(--lightGray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 30px;
}

.iconsContato {
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.iconsContato i {
    color: var(--lightGray);
    font-size: 40px;
}

.numeroContato {
    display: flex;
    flex-direction: column;
}

.numeroContato h4 {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 20px;
    color: var(--lightGray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.redesSociais {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.redesSociais i {
    color: var(--lightGray);
    margin: 20px;
    border: var(--lightPurple) 1px solid;
    padding: 20px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redesSociais i:hover {
    transition: all 0.5s;
    background-color: #1d0727;
}

.redesSociais a {
    text-decoration: none;
}

.dev {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.dev p {
    font-family: 'Montserrat', sans-serif;
    color: var(--lightPurple);
    font-size: 15px;
}

.dev a {
    text-decoration: none;
    color: #aa8dbc;
}

.botaoRain {
    border-color: transparent;
    background-color: transparent;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
}

.botaoRain i {
    color: var(--lightGray);
}

#iconContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    pointer-events: none;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

.icon {
    position: absolute;
    font-size: 20px;
    animation: fall linear infinite;
    opacity: 1; 
    transition: opacity 2s ease-in-out; 
}

.fadeOut {
    opacity: 0; 
    transform: translateY(100vh);
}

/* @media only screen and (max-width: 600px) {
   body {
    background-color: red;
   }
}

@media only screen and (min-width: 601px) and (max-width: 1308px) {
    body {
     background-color: green;
    }
 }

 @media only screen and (min-width: 1309px) {
    body {
     background-color: blue;
    }
 } */